<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ElectronicDiary.Properties.Settings.electronic_diaryConnectionString"
            connectionString="Data Source=desktop-neuqaj1\sqlexpress;Initial Catalog=&quot;electronic diary&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>